@{
    ViewData["Title"] = "Les commandes";
}

<h1>@ViewData["Title"]</h1>

@foreach (Order element in Model)
{
    @if (element.state == "CONFIRMED") { element.state = "Confirmé"; }
    else if (element.state == "OPTION") { element.state = "Option"; }

    <div class="card my-3">
        <div class="card-header">Commande @element.id</div>
        <div class="card-body">
            <h5 class="card-title">@element.typePresta</h5>
            <p class="card-text">Client: @element.client</p>
            <p class="card-text">Nombre de jours: @element.nbJour</p>
            <p class="card-text">TVA: @element.tva</p>
            <p class="card-text">Etat: @element.state</p>
            <p class="card-text">Commentaire: @element.comment</p>
            <a href="#" class="btn btn-primary">Detail</a>
        </div>
    </div>
}