@{
    ViewData["Title"] = "Détail d'un utilisateur";
}

<h1>@ViewData["Title"]</h1>

@foreach (Client client in Model.clients)
{
    <div class="card mt-5">
        <div class="card-header">Client @client.id</div>
        <div class="card-body">
            <h5 class="card-title">@client.name</h5>
            <p class="card-text">Etat: @client.state</p>
            <p class="card-text">TVA: @client.tva</p>
            <p class="card-text">Chiffre d'affaire HT: @client.totalCaHt</p>
            <p class="card-text">Commentaire: @client.comment</p>
        </div>
    </div>

    foreach (Order order in client.orders)
    {
        @if (order.state == "CONFIRMED") { order.state = "Confirmé"; }
        else if (order.state == "OPTION") { order.state = "Option"; }

            <div class="card mx-5">
            <div class="card-header">Commande @order.id</div>
                <div class="card-body">
                <h5 class="card-title">@order.typePresta</h5>
                <p class="card-text">Client: @order.client</p>
                <p class="card-text">Nombre de jours: @order.nbJour</p>
                <p class="card-text">TVA: @order.tva</p>
                <p class="card-text">Etat: @order.state</p>
                <p class="card-text">Commentaire: @order.comment</p>
                </div>
            </div>
    }

}